<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="css/img/icons8-done-64.png"> 

    <title>Profile</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> nave}}
    <div class="profile">
        <img class="pro_img" src="/css/img/shahrukh-khan-house.jpg" alt="Your Photo">
       <p class="fname"> Name: {{ user.Name}} </p>
       <p class="fname"> Email: {{  user.Email}} </p>
       <p class="fname"> Balance: {{  user.Balance}} </p>

    </div>      


</body>
</html>