.register, .profile{
    width: 400px;
    height: 380px;
    left: 450px;
    top: 100px;
    border-radius: 20px;
    position: relative;
    background: wheat;
    text-align: center;
}

.login{
    width: 400px;
    height: 300px;
    left: 450px;
    top: 100px;
    border-radius: 20px;
    position: relative;
    background: wheat;
    text-align: center;
}

input{
    width: 80%;
    height: 25px;
    margin: 10px auto;
    top: 20px;
    position: relative;
    outline: none;
    border: none;
}

button{
    width: 60%;
    margin: 10px auto;
    position: relative;
    top: 40px;
    cursor: pointer;
}
.for{
    top: 20px;
    position: relative;
}
h1{
    position: relative;
    top: 15px;
    text-transform: uppercase;
    text-shadow: 10px 10px 6px gray;
    text-align: center;
}
.pro_img{
    width: 150px;
    height: 200px;
    position: relative;
    top: 50px;
}
.fname{
    top: 80px;
    position: relative;
}
.msg{
    top: 10px;
    position: relative;
    color: red;
   
    padding: 0;
    margin: 0;
}
ul{
    position: relative;
    display: flex;
    left: 50%;
    top: -10px;
}
li{
    margin: 10px;
    padding: 10px;
    list-style: none;
    text-transform: uppercase;
}
.home{
    font-size: 50px;
    text-align: center;
    color: cadetblue;
    transform: translateY(200%);
}